/*Navbar Styling*/
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body, ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar{
    background-color:antiquewhite;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul{
    display: flex;
    gap: 40px;
    margin-left: auto;
}

.navbar li{
    list-style: none;
    font-family: Caladea;
}

.navbar a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar a:hover{
    background-color: rgb(145, 140, 140);
}